@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #FCEEC8;
}

.container{
    width: 90%;
    margin: auto;
    padding: 1rem;
    padding-top: 100px;
    display: flex;
}

.left-content {
    flex-basis: 65%;
} 

.right-content {
    flex-basis: 35%;
}

.left-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 0.5fr));
    grid-gap: 2rem;
}

.card{
    width: 300px;
    background-color: #9EDEF9;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.right-content{
    width: 50%;
    text-align: center;
    color: black;
    position: fixed;
    top: 100px;
    right: -5%;
}

.right-content img{
    margin: 2rem;
    height: 180px;
}

.right-content h1{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.abilities{
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.abilities .group{
    background-color: #b74555;
    color: white;
    padding: .5rem;
    margin: .5rem;
    font-size: 12px;
    border-radius: 8px;
}

.base-stat{
    margin-top: 2rem;
}

.btn-group{
    display: flex;
}

.btn-group button{
    outline: none;
    border: none;
    width: 150px;
    padding: 0.3rem 0;
    margin: 1rem;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #b74555;
    border-radius: 8px;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .container {
    /* margin-left: var(--mb-1-5); */
    /* margin-right: var(--mb-1-5); */
  }

  .button {
    /* padding: 1rem 1.75rem; */
  }

  .button__icon {
    /* width: 22px; */
    /* height: 22px; */
  }
    .left-content {
        grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
    }

    .right-content {
        right: 10px;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  body {
    /* margin: 0 0 var(--header-height) 0; */
  }

  .section {
    /* padding: 2rem 0 4rem; */
  }

  .section__subtitle {
    /* margin-bottom: var(--mb-3); */
  }

    .left-content, .right-content{
        flex-basis: 50%;
    }

}

@media screen and (max-width: 576px) {

    .container {
        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }

    .left-content {
        grid-template-columns: repeat(auto-fit, minmax(150px, 0.5fr));
        margin-top: 350px;
    }

    .card {
        flex-direction: column;
        width: 150px;
    }

    .right-content{
        top: initial;
        padding-top: 2rem;
        background-color: #FCEEC8;
        width: 100%;
    }

    h1 {
        font-size: 1.6rem;
    }

    .right-content img {
        display: none;
    }

    .group {
        display: flex;
    }

}

/* For small devices */
@media screen and (max-width: 375px) {

    .container {
        flex-direction: column;
        padding-top: 0px;
    }

    .left-content {
        padding-top: 100px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
    }

    .card {
        flex-direction: row;
        width: 300px;
    }

    h1 {
        font-size: 1.3rem;
    }
}
